*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.idea/
*.iws
*.ipr

**/key.jks
**/keystore.jks

*/build/
*.apk
*.ap_

fabric.properties
google-services.json
firebase/

schemas/

**/build/intermediates/compose*-classes/

*.log
*.tmp
*.bak
*.orig
*.rej

Thumbs.db
ehthumbs.db
Desktop.ini
